@page "/"

<PageTitle>Home</PageTitle>

<h1>TEST ILCS</h1>

<div class="mb-3 row">
    <label for="inputCountry" class="col-sm-2 col-form-label">Negara</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="inputCountry" list="negaraList" name="inputCountry">
        <datalist id="negaraList"></datalist>
    </div>
</div>
<div class="mb-3 row">
    <label for="inputHarbor" class="col-sm-2 col-form-label">Pelabuhan</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPelabuhan" name="inputPelabuhan">
    </div>
</div>
<div class="mb-3 row">
    <label for="inputProduct" class="col-sm-2 col-form-label">Barang</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="inputProduct" name="inputProduct">
    </div>
</div>
<div class="mb-3 row justify-content-end">
    <div class="col-sm-10">
        <textarea class="form-control" id="inputProduct2" readonly rows="3" name="inputProduct2"></textarea>
    </div>
</div>
<div class="mb-3 row">
    <label for="inputPrice" class="col-sm-2 col-form-label">Harga</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="inputPricw" name="inputPrice">
    </div>
</div>
<form class="row g-3 mb-3">
    <label for="inputBea" class=" col-sm-2 form-label">Tarif Bea Masuk</label>
    <div class="d-flex col-sm-4">
        <input type="text" class="form-control" id="inputBea" aria-describedby="persen" readonly name="inputBea">
        <span id="persen" class="form-text ms-2 fs-5 fw-bold">
            %
        </span>
    </div>
</form>
<div class="mb-3 row justify-content-end">
    <div class="col-sm-10">
        <input class="form-control" id="total" readonly name="total"/>
    </div>
</div>


<script>

$(document).ready(function (){
    $("#inputCountry").autocomplete({
        minLength: 3,
        source: function (req, res){
            $.ajax({
                url: 'https://insw-dev.ilcs.co.id/n/negara',
                dataType: 'json',
                data: {
                    ur_negara: req.term
                    },
                success: function (data){
                    updateDatalist(data);
                }
            })    
        }
    })
    
    function updateDatalist(data){
        var datalist = $('#negaraList');
        datalist.empty();
        data.forEach(function (item){
            datalist.append('<option value="' + item.name.common + '">' + item.name.common + '</option>')
        });
    }
});

    function getKdNegara(){
        return $('#inputCountry').val();
    }
    
    $("#inputPelabuhan").autocomplete({
        minLength: 3,
        source: function (req, res){
            $.ajax({
                url: 'https://insw-dev.ilcs.co.id/n/pelabuhan',
                dataType: 'json',
                data: {
                    ur_negara: getKdNegara(),
                    ur_pelabuhan: req.term  
                },
                success: function (data){
                    res(data)    
                }
            })
        }
    })
    
    $('#inputProduct').on('input', function() {
            var hsCode = $(this).val();
            if (hsCode.length >= 8) { 
                $.ajax({
                    url: 'https://insw-dev.ilcs.co.id/n/barang',
                    dataType: 'json',
                    data: {
                        hs_code: hsCode
                    },
                    success: function(data) {
                        updateDatalist(data);
                    }
                });
            }
    });
    
    $('#inputBea').on('input', function() {
                var hsCode = $(this).val();
                if (hsCode.length >= 8) {
                    $.ajax({
                        url: 'https://insw-dev.ilcs.co.id/n/tarif',
                        dataType: 'json',
                        data: {
                            hs_code: hsCode
                        },
                        success: function(data) {
                            updateDatalist(data);
                        }
                    });
                }
    });
  
    

</script>
